*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.75rem;
}

nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272822;
    color: white;
    height: 72px;
}

.content{
    font-family: 'Potta One', cursive;
}

.container{
    /* background-color: red; */
    width: 50vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.logo{
    padding: 0 13px;
}

.logo img{
    width: 32px;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}
footer {
    text-align: center;
    position: absolute;
    background-color: black;
    color: white;
    padding: 3px 10px 5px 0px;
    right: 0;
    left: 0;
    bottom: 0;
}